<web-app>
    <servlet>
        <servlet-name>RoomListServlet</servlet-name>
        <servlet-class>controller.RoomListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomListServlet</servlet-name>
        <url-pattern>/roomlists</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateRoomServlet</servlet-name>
        <servlet-class>controller.CreateRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateRoomServlet</servlet-name>
        <url-pattern>/CreateRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <servlet-class>controller.DeleteRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRoomServlet</servlet-name>
        <url-pattern>/DeleteRoomServlet</url-pattern>
    </servlet-mapping>
</web-app>
